<% layout("/layouts/boilerplate") %>
  <div class="row">
    <div class="col-8 offset-2">
      <h3 class="my-4">
        <%= listing.title %>
      </h3>

      <div class="card mb-4">
        <% if (listing.image && listing.image.url) { %>
          <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="<%= listing.title %> image">
          <% } else { %>
            <img src="/images/default-placeholder.png" class="card-img-top show-img" alt="Default placeholder image">
            <% } %>

              <div class="card-body">
                <h5 class="card-title">Title: <%= listing.title %>
                </h5>
                <p class="card-text">Description: <%= listing.description %>
                </p>
                <p class="card-text">Price: <strong>&#8377;<%= listing.price.toLocaleString("en-IN") %></strong></p>
                <p class="card-text">Location: <%= listing.location %>
                </p>
                <p class="card-text">Country: <%= listing.country %>
                </p>
                <p class="card-text">Unit: <%= listing.unit %>
                </p>
                <p class="card-text">Enquiry: <%= listing.enquiry %>
                </p>
                <p class="card-text">Email: <a href="mailto:<%= listing.email %>">
                    <%= listing.email %>
                  </a></p>
                <p class="card-text">Contact Number: <a href="tel:<%= listing.number %>">
                    <%= listing.number %>
                  </a></p>
              </div>
      </div>

      <div class="d-flex justify-content-between">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary">Edit this Listing</a>
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
          <button class="btn btn-danger"
            onclick="return confirm('Are you sure you want to delete this listing?')">Delete this Listing</button>
        </form>
      </div>

      <div class="col-7 offset-3 mb-3">
        <hr />
        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing.id %>/reviews" method="POST">
          <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
            <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range" />
          </div>
          <div class="mb-3 mt-3">
            <label for="comment" class="form-label">Comments</label>
            <textarea name="review[comment]" id="comment" cols="40" rows="5" class="form-control"></textarea>
          </div>
          <button class="btn btn-outline-dark">Submit</button>
        </form>
      </div>
    </div>
  </div>